.wrapper {
  @apply max-w-[144rem] px-[2rem] lg:px-[7rem] w-full m-auto;

  /* For 'md' breakpoint (768px) */
  // @media (min-width: 960px) {
  //   @apply px-[2rem];
  // }

  // @media (min-width: 1440px) {
  //   @apply px-[10rem];
  // }
}
