// h1,
// h2,
// h3,
// h4,
// h5,
// h6,
// p,
// a,
// span {
//   font-family: "Poppins", sans-serif;
// }

h1,
.h1 {
  @apply text-h1 font-bold;
}
h2,
.h2 {
  @apply text-h2 font-bold;
}
h3,
.h3 {
  @apply text-h3 font-normal;
}

// a,
// p {
//   @apply text-body;
// }

// span {
//   @apply text-small;
// }
