// src/scss/main.scss

// _generic
@use "_generic/container";
@use "_generic/global";
@use "_generic/typography";
@use "_generic/animation";

// _object
@use "_object/button";
@use "_object/embla";

// component
// @use "component/";

// section
@use "section/header";
