.button {
  &--primary {
    @apply block w-fit m-auto px-8 py-5 bg-purple-100 text-white text-smaller sm:text-small lg:text-body rounded-5 hover:bg-purple-200 transition-colors cursor-pointer;
  }
  &--secondary {
    @apply block w-full py-3 px-6 bg-white text-body text-center text-purple-900 rounded-lg hover:bg-gray-100 transition-colors shadow-lg active:scale-95 duration-200 cursor-pointer;
  }
}


#nav-icon3 {
  @apply relative w-8 h-8;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#nav-icon3 span {
  @apply block absolute h-1 w-full bg-white rounded-4 opacity-100 left-0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#nav-icon3 span:nth-child(1) {
  @apply top-0;
}

#nav-icon3 span:nth-child(2),
#nav-icon3 span:nth-child(3) {
  @apply top-3;
}

#nav-icon3 span:nth-child(4) {
  @apply top-6;
}

#nav-icon3.open span:nth-child(1) {
  top: 12px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 12px;
  width: 0%;
  left: 50%;
}
