// .embla {
//   @apply overflow-hidden w-full py-[2.4rem];
//   &__container {
//     @apply flex flex-nowrap gap-[3rem];
//   }
//   &__slide {
//     flex: 0 0 360px;
//     @apply w-[36rem] overflow-hidden;
//   }
// }