.nav {
  &--link {
    @apply border-b block border-[#dee2e6] relative;
    &::before {
      @apply bg-black content-[''] absolute bottom-[-1px] h-px w-0 transition-[width] duration-600 ease-out;
    }
    &:hover {
      &::before {
        @apply w-full;
      }
    }
    &.active {
      &::before {
        @apply w-full;
      }
    }
  }
}
